fastapi
uvicorn
asyncpg
databases[asyncpg]
sqlalchemy
python-jose
passlib[bcrypt]
python-dotenv
jinja2==3.14
aiofiles
scikit-learn
pandas
numpy
joblib
textblob
python-multipart
pydantic-settings
pydantic[email]
slowapi
weasyprint